dash 
dash-bootstrap-components 
dash-core-components
dash-html-components
dash-renderer
dash-table 
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
gunicorn==20.0.4
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy==1.19.0
packaging==20.4
pandas==1.1.1
pathspec==0.7.0
plotly
pyparsing==2.4.7
PyYAML==5.3.1
regex 
requests==2.24.0
tokenizers==0.8.1rc2
torch
torchvision
transformers
tensorflow
