appdirs==1.4.4
# astroid @ file:///C:/ci/astroid_1592495992870/work
# attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
black==19.10b0
blis==0.4.1
brotlipy==0.7.0
certifi==2020.6.20
# cffi @ file:///D:/bld/cffi_1595805752074/work
click==7.1.2
colorama==0.4.3
dash 
dash-bootstrap-components @
dash-core-components==1.11.0
dash-html-components==1.0.3
dash-renderer==1.7.0
dash-table
Flask==1.1.2
Flask-Compress==1.5.0
future==0.18.2
gunicorn==20.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.19.1
pandas==1.1.1
pathspec==0.7.0
plotly 
preshed==3.0.2
pycparser 
# pylint @ file:///C:/ci/pylint_1592499115540/work
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex
retrying==1.3.3
# six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
spacy==2.2.2
thinc==7.3.1
# toml @ file:///tmp/build/80754af9/toml_1592853716807/work
typed-ast==1.4.1
# typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.11.2
